<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seai 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <meta name="description" content="Seai 2.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div style="display: none;">
        <p id="llm"> {{ llm }}</p>
        <p id="knowledgeGraph"> {{ kgraph }}</p>
        <p id="searchOffset"> {{ search_offset }}</p>
    </div>
    <!-- Header -->
    <header class="header">
        <a href="#" class="logo">Seai 2.0</a>
        
        <!-- Mobile Menu Toggle Button -->
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav-links">
            <a href="/" data-lang-key="home">Home</a>
            <a href="/pricing" data-lang-key="costs">Pricing</a>
            <a href="/contact" data-lang-key="contact">Contact</a>
            
            <!-- Language Dropdown -->
            <div class="language-dropdown">
                <select class="language-select" id="languageSelector">
                    <option value="en">🇬🇧 English</option>
                    <option value="de">🇩🇪 Deutsch (German)</option>
                </select>
            </div>
            <div class="auth-links">
                {% if session.get('user') %}
                    <a href="{{ url_for('logout') }}" data-lang-key="logout">Logout</a>
                {% else %}
                    <a href="/auth?skipTo=login" data-lang-key="login">Login</a>
                    <a href="/auth?skipTo=register" data-lang-key="register">Register</a>
                {% endif %}
            </div>
        </nav>
        
    </header>


    <div class="searchNav">
        <form id="searchForm col">
            <input type="text" class="search-input" id="searchInput" value="{{ query }}">
            <button type="submit" class="search-button" id="searchButton" data-lang-key="search" >Search</button>
        </form>
        <div class="searchTypes">
            <a class="WebSearchCatag active" href="/search?cat=discover" data-lang-key="SearchTypeAll">
                Discover 
            <a>
            <a class="WebSearchCatag" href="/search?cat=images" data-lang-key="SearchTypeImages">
                Images 
            <a>
            <a class="WebSearchCatag" href="/search?cat=news" data-lang-key="SearchTypeNews">
                News 
            <a>
            <a class="WebSearchCatag" href="/search?cat=videos" data-lang-key="SearchTypeVideos">
                Videos 
            <a>
            <a class="WebSearchCatag" href="/search?cat=maps" data-lang-key="SearchTypeMaps">
                Maps 
            <a>
        </div>
    </div>
    <main>
        <div class="searchResults column blurred-text" id="searchResults">
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>

            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
            <a href="#" class="searchResult" >
                <h3 class="searchResultTitle" >Just a placeholder</h3>
                <h5 class="searchResultLink" >www.placeholder.result</h5>
                <p class="searchResultContent" >This site does not contain any content!</p>
            </a>
        </div>

    </main>

    <div class="results">
        
    </div>
    
    
    
    
    <script src="/static/scripts/search.js"></script>
    <script src="/static/scripts/serper.js"></script>
    <script src="/static/scripts/translate.js"></script>
    

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/search.css">
    <script>
        document.querySelector('.hamburger').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.nav-links').classList.toggle('active');
        });
    </script>
</body>
</html>