<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/central.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="d-flex flex-column">
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="bi bi-search-heart me-2"></i>Seai
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('history') }}">Search History</a></li>

                </ul>
                <div class="d-flex align-items-center">
                    {% if current_user["is_authenticated"] %}
                        <a href="{{ url_for('logout') }}" class="btn btn-outline-danger ms-2">Logout</a>
                    {% else %}
                        <button class="btn btn-outline-success ms-2" id="LoginButton" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Login
                        </button>
                        <button class="btn btn-outline-success ms-2" id="RegisterButton" data-bs-toggle="modal" data-bs-target="#RegisterModal">
                            Register
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Search Results for "{{ search_query }}"</h1>
        <div class="row">
            <div class="col-md-12">
                <!--<h2>Images</h2>-->
                <div class="row">
                    <!-- Images Section -->

                <div class="row">
                    {% if results.images %}
                        {% for image in results.images %}
                        <div class="col-md-4 mb-3 topcard">
                            <div class="card">
                                <img src="{{ image.imageUrl }}" class="card-img-top" alt="{{ image.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ image.title }}</h5>
                                    <a href="{{ image.link }}" target="_blank" class="btn btn-primary">View More</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No images found.</p>
                    {% endif %}
                </div>
            </div>

            <!-- Organic Results Section -->
            <div class="col-md-12 mt-4">
                <!-- <h2>Organic Results</h2> -->
                <ul class="list-group">
                    {% if results.organic %}
                        {% for result in results.organic %}
                        <li class="list-group-item">
                            <h5><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h5>
                            <p class="descriptions-content">{{ result.snippet }}</p>
                            {% if result.sitelinks %}
                            <ul>
                                {% for sitelink in result.sitelinks %}
                                <li><a href="{{ sitelink.link }}" target="_blank">{{ sitelink.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    {% else %}
                        <p>No organic results found.</p>
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 mt-4">
                    <h2>People Also Ask</h2>
                    <ul class="list-group">
                        {% if results.peopleAlsoAsk %}
                            {% for question in results.peopleAlsoAsk %}
                            <li class="list-group-item">
                                <h5><a href="{{ question.link }}" target="_blank">{{ question.question }}</a></h5>
                                <p class="lower-text">{{ question.snippet }}</p>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No questions found.</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-md-6 mt-4"> 
                    <h2>People also search</h2>
                    <ul class="list-group">
                        {% if results.relatedSearches %}
                            {% for search in results.relatedSearches %}
                            <li class="list-group-item d-flex justify-content-between align-items-center lower-text">
                                {{ search.query }}
                                <a href="{{ url_for('search', q=search.query) }}" class="badge bg-primary rounded-pill" target="_blank">
                                    <i class="bi bi-search"></i>
                                </a>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No related searches found.</li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-12 mt-4">
                <!-- <h2>Top Stories</h2> -->
                <div class="row">
                    {% for story in results.topStories %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="{{ story.imageUrl }}" class="card-img-top" alt="{{ story.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ story.title }}</h5>
                                <p class="card-text"><small class="text-muted">{{ story.date }} - {{ story.source }}</small></p>
                                <a href="{{ story.link }}" target="_blank" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <footer class="mt-auto bg-dark text-white text-center py-3">
        <p>&copy; 2024 Seai. All rights reserved.</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>