.mobile-only.col{
    display: none;
}
@media (max-width: 768px) {
    .mobile-only.col{
        display: flex;
    }
}
.desktop-only.col{
    display: flex;
}
@media (max-width: 768px) {
    .desktop-only.col{
        display: none;
    }
}

.flexible-column {
    display: flex; 
    flex-direction: column;
}
@media (max-width: 768px) {
    .flexible-column{
        display: flex; 
        flex-direction: row;
    }
}
.searchTypes.mobile-only {
    display: none;
}
@media (max-width: 768px) {
    .searchTypes.mobile-only{
        display: block
    }
}